@model  IEnumerable<DashboardLogApp.ViewModels.XmlData>
@using System.Xml.Linq;

@if (ViewBag.Message != null)
{
    <p style="color: red;">Error: @ViewBag.Message</p>
}

<h5>XML Data</h5>
<div  id="xmldata" >
    

    <table class="table">
        <caption class="caption">XML DATA on RequestTxID = <span style="color: red">'@Model.ElementAt(0).RequestTxID'</span></caption>
        <tr>
            <td class="bold">ProgramID</td>
            <td>
                @Model.ElementAt(0).ProgramID
            </td>
        </tr>
        <tr>
            <td class="bold">InstitutionID</td>
            <td>
                @Model.ElementAt(0).InstitutionID
            </td>
        </tr>
        <tr>
            <td class="bold">FileStatus</td>
            <td>
                @Model.ElementAt(0).FileStatus
            </td>
        </tr>
        <tr>
            <td class="bold">RequestTxID</td>
            <td>
                @Model.ElementAt(0).RequestTxID
            </td>
        </tr>
        <tr>
            <td class="bold">UniqueParticipantId</td>
            <td>
                @Model.ElementAt(0).UniqueParticipantId
            </td>
        </tr>
        <tr>
            <td class="bold">ExistingCardSN</td>
            <td>
                @Model.ElementAt(0).ExistingCardSN
            </td>
        </tr>
        <tr>
            <td class="bold">Action</td>
            <td>
                @Model.ElementAt(0).Action
            </td>
        </tr>
        <tr>
            <td class="bold">ReasonCode</td>
            <td>
                @Model.ElementAt(0).ReasonCode
            </td>
        </tr>
        <tr>
            <td class="bold">Benefit</td>
            <td>
                @Model.ElementAt(0).Benefit
            </td>
        </tr>
        <tr>
            <td class="bold">CardTypeCode</td>
            <td>
                @Model.ElementAt(0).CardTypeCode
            </td>
        </tr>
        <tr>
            <td class="bold">URI</td>
            <td>
                @Model.ElementAt(0).URI
            </td>
        </tr>
        <tr>
            <td class="bold">URIType</td>
            <td>
                @Model.ElementAt(0).URIType
            </td>
        </tr>
        <tr>
            <td class="bold">ProcessDatetime</td>
            <td>
                @Model.ElementAt(0).ProcessDatetime
            </td>
        </tr>
        <tr>
            <td class="bold">ProcessErrorID</td>
            @if (!String.IsNullOrEmpty(Model.ElementAt(0).ProcessErrorID) && Model.ElementAt(0).ProcessErrorID != "0" && Model.ElementAt(0).ProcessErrorID != "996")
            {
                <td class="errors">
                    @Model.ElementAt(0).ProcessErrorID
                </td>
            }
            else
            {
                <td class="non-error">
                    @Model.ElementAt(0).ProcessErrorID
                </td> 
            }
        </tr>
        <tr>

            <td class="bold">ProcessErrorDescr</td>
            @if (!String.IsNullOrEmpty(Model.ElementAt(0).ProcessErrorID) && Model.ElementAt(0).ProcessErrorID != "0" && Model.ElementAt(0).ProcessErrorID != "996")
            {
                <td class="errors">
                    @Model.ElementAt(0).ProcessErrorDescr
                </td>
            }
            else
            {
                <td class="non-error">
                    @Model.ElementAt(0).ProcessErrorDescr
                </td> 
            }
        </tr>
        @if (!String.IsNullOrEmpty(Model.ElementAt(0).ProcessErrorID) && Model.ElementAt(0).ProcessErrorID != "0" && Model.ElementAt(0).ProcessErrorID != "996")
        {
            <tr>
                <td class="bold">StackTrace</td>
                <td class="errors">
                    @Model.ElementAt(0).StackTrace
                </td>
            </tr>
        }


    </table>


</div>





