@using PagedList.Mvc;
@using PagedList;


<script type="text/javascript">

    $(function () {
        $('#StartDatepicker').datepicker();
        $('#EndDatepicker').datepicker();
    });

    $(function () {


        $("#submit").bind("click", function () {
            $('#spinnerWS').fadeIn();
        });

        $("#SearchUniqueParticipantID").bind("click", function () {
            $('#spinnerWS').fadeIn();
        });

        $("#SearchCSN").bind("click", function () {
            $('#spinnerWS').fadeIn();
        });

        $("#SearchElapsedTime").bind("click", function () {
            $('#spinnerWS').fadeIn();
        });




    });

    $(".refresh").bind("click", function () {
        $('.spinnerWS').fadeIn();
    });



</script>

<div id="spinnerWS" class="spinner" style="display: none;">
    <img id="img-spinner" src="~/Images/ajax_loader.gif" alt="Loading" />
</div>

<div>
    <div style="float: left; width: 50%;">
        <div style="float: left; width: 90%;">
            <h5>Program - Web Service View (PPASS)</h5>
            <table class="table_short">
                <caption class="caption">NCS Detail</caption>
                <tr>
                    <td class="bold" style="width:50%;">Program Name</td>
                    @if (ViewBag.WSRetrievedResult.Count > 0)
                    {
                        <td>@ViewBag.WSRetrievedResult[0].Program</td>
                    }
                    else
                    {
                        <td></td>
                    }
                </tr>
                <tr>
                    <td class="bold">NCS Organisation Name</td>
                    @if (ViewBag.WSRetrievedResult.Count > 0)
                    {
                        <td>@ViewBag.WSRetrievedResult[0].Name</td>
                    }
                    else
                    {
                        <td></td>
                    }
                </tr>
                <tr>
                    <td class="bold">NCS Customer ID</td>
                    @if (ViewBag.WSRetrievedResult.Count > 0)
                    {
                        <td>@ViewBag.WSRetrievedResult[0].OrganizationId</td>
                    }
                    else
                    {
                        <td></td>
                    }
                </tr>
                <tr>
                    <td class="bold">NCS Customer Assigned ID</td>
                    @if (ViewBag.WSRetrievedResult.Count > 0)
                    {
                        <td>@ViewBag.WSRetrievedResult[0].ShortName</td>
                    }
                    else
                    {
                        <td></td>
                    }
                </tr>

            </table>
        </div>

        <div style="float: left; width: 90%;">

            <table class="table_short">
                <caption class="caption">Summary</caption>
                <tr>
                    <td class="bold" style="width:50%;">Errors</td>
                    @if (ViewBag.TotalErrors > 0)
                    {
                        <td class="errors">@ViewBag.TotalErrors</td>
                    }
                    else
                    {
                        <td class="non-error">@ViewBag.TotalErrors</td>
                    }
                </tr>

            </table>
        </div>
    </div>

    <div style="float: right; width: 40%;">
        @using (Ajax.BeginForm("WSUpdateRetrievedResult", "ProgramPpass", new { sortOrder2 = ViewBag.StatusSortParm }, new AjaxOptions
    {
        HttpMethod = "GET",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "updateAreaWS"
    }))
        {
            <table style="clear: both; float: right; width: 90%;" class="StartEndDate">
                <tr>
                    <td style="float: right;">
                        Request Start:
                        <input type="text" id="StartDatepicker" class="datefield" name="startDate" value=@ViewBag.startDate />
                    </td>
                </tr>
                <tr>
                    <td style="float: right;">
                        Request End: &nbsp;
                        <input type="text" id="EndDatepicker" class="datefield" name="endDate" value=@ViewBag.endDate />
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="float: right;">
                        <input class="btn_short" id="submit" type="submit" value="Select Date Range" name="SelectDate" />
                    </td>
                </tr>

            </table>
        }
    </div>
    <div style="float: right; width: 40%;">
        @using (Ajax.BeginForm("Export", "ProgramPpass", null, new AjaxOptions
    {
        HttpMethod = "GET",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "updateAreaWS"
    }))
        {
            <table style="clear: both; float: right; width: 90%;" class="StartEndDate">

                <tr>
                    <td style="font-weight: bold; text-decoration: underline;">
                        @Html.ActionLink("Export", "Export", "ProgramPpassController", null, null)
                    </td>
                </tr>

            </table>
        }



        @using (Ajax.BeginForm("WSSearchUniqueParticipantID", "ProgramPpass", null, new AjaxOptions
    {
        HttpMethod = "GET",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "updateAreaWS"
    }))
        {
            <table style="clear: both; float: right; width: 90%;" class="StartEndDate">
                <tr style="float: right">
                    <td>
                        Unique Participant ID: @Html.TextBox("UniqueParticipantID", ViewBag.uniqueParticipantID as string)

                    </td>
                    <td>
                        <input class="btn_short" id="SearchUniqueParticipantID" type="submit" value="Search" name="SearchUniqueParticipantID" />
                    </td>
                </tr>
            </table>
        }
        @using (Ajax.BeginForm("WSSearchCSN", "ProgramPpass", null, new AjaxOptions
    {
        HttpMethod = "GET",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "updateAreaWS"
    }))
        {
            <table style="clear: both; float: right; width: 90%;" class="StartEndDate">
                <tr style="float: right;">
                    <td>
                        Card Serial Number: @Html.TextBox("CSN", ViewBag.CSN as string)

                    </td>
                    <td>
                        <input class="btn_short" id="SearchCSN" type="submit" value="Search" name="SearchCSN" />
                    </td>
                </tr>

            </table>
        }
        @using (Ajax.BeginForm("ElapsedTime", "ProgramPpass", null, new AjaxOptions
    {
        HttpMethod = "GET",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "updateAreaWS"
    }))
        {
            <table style="clear: both; float: right; width: 90%;" class="StartEndDate">
                <tr style="float: right;">
                    <td>
                        Average Elapsed Time:

                    </td>
                    <td>
                        @ViewBag.AverageElpasedTime
                    </td>
                </tr>

            </table>
        }
    </div>

    <div style="clear: both; width: 80%;">
        <table class="table_short" style="clear: both; width: 60%;">
            <caption class="caption">Operations per Web Service</caption>
            <tr>
                <th class="fixed_column_length_150">
                    @Ajax.ActionLink("Date Time Start", "WSUpdateRetrievedResult", new { sortOrder = ViewBag.DateTimeStartSortParm }, new AjaxOptions
       {
           HttpMethod = "GET",
           InsertionMode = InsertionMode.Replace,
           UpdateTargetId = "updateAreaWS"
       })
                </th>
                <th class="fixed_column_length_500">
                    @Ajax.ActionLink("Web Service", "WSUpdateRetrievedResult", new { sortOrder = ViewBag.WebServiceSortParm }, new AjaxOptions
       {
           HttpMethod = "GET",
           InsertionMode = InsertionMode.Replace,
           UpdateTargetId = "updateAreaWS"
       })

                </th>
                <th>
                    @Ajax.ActionLink("Operation", "WSUpdateRetrievedResult", new { sortOrder = ViewBag.OperationSortParm }, new AjaxOptions
       {
           HttpMethod = "GET",
           InsertionMode = InsertionMode.Replace,
           UpdateTargetId = "updateAreaWS"
       })
                </th>
                <th class="fixed_column_length_150">
                    @Ajax.ActionLink("Elapsed Time", "WSUpdateRetrievedResult", new { sortOrder = ViewBag.ElapsedTimeSortParm }, new AjaxOptions
       {
           HttpMethod = "GET",
           InsertionMode = InsertionMode.Replace,
           UpdateTargetId = "updateAreaWS"
       })
                </th>
                <th class="fixed_column_length_150">
                    @Ajax.ActionLink("Status", "WSUpdateRetrievedResult", new { sortOrder = ViewBag.StatusSortParm }, new AjaxOptions
       {
           HttpMethod = "GET",
           InsertionMode = InsertionMode.Replace,
           UpdateTargetId = "updateAreaWS"
       })
                </th>

            </tr>
            @foreach (var item in ViewBag.WSRetrievedResult)
            {
                <tr>
                    <td>
                        @item.DateStart
                    </td>
                    <td>
                        @item.WebService
                    </td>
                    <td>
                        @item.Operation
                    </td>
                    <td>
                        @item.ElapsedTime
                    </td>
                    @if (@item.TotalErrors > 0)
                    {
                        <td class="errors">
                            ERROR (@item.TotalErrors)
                        </td>
                    }
                    else
                    {
                        <td class="non-error">
                            Completed
                        </td>
                    }

                </tr>
            }
        </table>

        <div class="pager" style="font-size: .5em; margin-top: -5px;">
            Page @(ViewBag.WSRetrievedResult.PageCount < ViewBag.WSRetrievedResult.PageNumber ? 0 : ViewBag.WSRetrievedResult.PageNumber) of @ViewBag.WSRetrievedResult.PageCount

            @Html.PagedListPager(ViewBag.WSRetrievedResult as PagedList.IPagedList<FunctionalDashboard.ViewModels.PpassProgramWebService>, page => Url.Action("WSUpdateRetrievedResult", "ProgramPpass", new { page, sortOrder = ViewBag.WSCurrentSort }),
                                 PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new PagedListRenderOptions() { DisplayLinkToPreviousPage = PagedListDisplayMode.IfNeeded }
                                      , new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "updateAreaWS" }))

        </div>

        @if (ViewBag.WSSearchResult != null)
        {
            <table class="table_short" style="clear: both;">
                <caption class="caption">Search Results for <strong>@ViewBag.WSRetrievedResult[0].ShortName</strong>: <strong style="font-size:1em; color:red;"> @ViewBag.WSKeyword</strong></caption>
                <tr>
                    <th class="fixed_column_length_150">
                        @Ajax.ActionLink("Date Time Start", "WSUpdateSearchResult", new { sortOrder = ViewBag.DateTimeStartSortParm }, new AjaxOptions
       {
           HttpMethod = "GET",
           InsertionMode = InsertionMode.Replace,
           UpdateTargetId = "updateAreaWS"
       })
                    </th>
                    <th class="fixed_column_length_500">
                        @Ajax.ActionLink("Web Service", "WSUpdateSearchResult", new { sortOrder = ViewBag.WebServiceSortParm }, new AjaxOptions
       {
           HttpMethod = "GET",
           InsertionMode = InsertionMode.Replace,
           UpdateTargetId = "updateAreaWS"
       })

                    </th>
                    <th>
                        @Ajax.ActionLink("Operation", "WSUpdateSearchResult", new { sortOrder = ViewBag.OperationSortParm }, new AjaxOptions
       {
           HttpMethod = "GET",
           InsertionMode = InsertionMode.Replace,
           UpdateTargetId = "updateAreaWS"
       })
                    </th>
                    <th>
                        @Ajax.ActionLink("ElapsedT Time", "WSUpdateSearchResult", new { sortOrder = ViewBag.ElapsedTimeSortParm }, new AjaxOptions
       {
           HttpMethod = "GET",
           InsertionMode = InsertionMode.Replace,
           UpdateTargetId = "updateAreaWS"
       })
                    </th>
                    <th class="fixed_column_length_150">
                        @Ajax.ActionLink("Status", "WSUpdateSearchResult", new { sortOrder = ViewBag.StatusSortParm }, new AjaxOptions
       {
           HttpMethod = "GET",
           InsertionMode = InsertionMode.Replace,
           UpdateTargetId = "updateAreaWS"
       })
                    </th>

                </tr>

                @foreach (var item in ViewBag.WSSearchResult)
                {
                    <tr>
                        <td>
                            @item.DateStart
                        </td>
                        <td>
                            @item.WebService
                        </td>
                        <td>
                            @item.Operation
                        </td>
                        <td>
                            @item.ElapsedTime
                        </td>
                        @if (@item.TotalErrors > 0)
                        {
                            <td class="errors">
                                ERROR (@item.TotalErrors)
                            </td>
                        }
                        else
                        {
                            <td class="non-error">
                                Completed
                            </td>
                        }

                    </tr>
                }


            </table>

            <div class="pager" style="font-size: .5em; margin-top: -5px;">
                Page @(ViewBag.WSSearchResult.PageCount < ViewBag.WSSearchResult.PageNumber ? 0 : ViewBag.WSSearchResult.PageNumber) of @ViewBag.WSSearchResult.PageCount

                @Html.PagedListPager(ViewBag.WSSearchResult as PagedList.IPagedList<FunctionalDashboard.ViewModels.PpassProgramWebService>, page => Url.Action("WSUpdateSearchResult", "ProgramPpass", new { page, sortOrder = ViewBag.WSCurrentSort }),
                                 PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new PagedListRenderOptions() { DisplayLinkToPreviousPage = PagedListDisplayMode.IfNeeded }
                                      , new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "updateAreaWS" }))

            </div>
        }
    </div>
</div>